section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
                width: 100%;
                height: 100vh;
            }
        }
    }
}

#pointer_1{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 78%;
    left: 48%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_2{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 63%;
    left: 24%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_3{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 63%;
    left: 71.5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}


#onloadPlayer{
    // position: absolute;
    // width: 22.5%;
    // top: 21%;
    // left: 39%;
    position: absolute;
    width: 23.8%;
    top: 19%;
    border: 5px solid #000;
    left: 38.4%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

// #background{
//     top: -30px;
// }
@media (min-aspect-ratio: 16/9) {
    #lobbyBgVideo{
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    #lobbyBgVideo {
      width: auto;
      height: 100%;
    }
    #background{
        top: 0px;
    }
    #onloadPlayer{
      top: calc(39.35% + 1px);
    }
  }
