<section>
    <div class="content-wrap">
        <div id="bg">
            <img src="assets/fasenra/helpdesk.jpg" alt="">
            <div id="onloadPlayer">
                <video id="centerPlay" width="100%" muted preload="auto" playsinline autoplay controls loop>
                    <source src="https://d3ep09c8x21fmh.cloudfront.net/suzuki/suzuki.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 
            </div>
            
            <a id="pointer_1" data-toggle="modal" data-target="#helpDeskModal" (click)="stepup('click_helpdesk');">
                <div class="pulsating-circle"></div>
            </a>
            <a id="pointer_2" data-toggle="modal" data-target="#feedbackModal" (click)="stepup('click_agenda');">
                <div class="pulsating-circle"></div>
            </a>
            <a id="pointer_3" (click)="stepup('click_photobooth');" routerLink="/photobooth">
                <div class="pulsating-circle"></div>
            </a>
        </div>
    </div>
</section> 