#background{
    background: white;
    background-image: linear-gradient(white, #1b5c88e0);
    height: 450px;
    border-radius: 25px;
    border: 2px solid #1b5c88e0;
}
#closeChat{
    position: absolute;    
    top: -9px;
    right: -5px;
    width: 24px;
    height: 24px;
    z-index: 100;
    button{
        border-radius: 50%;
        color: white;
        outline: none;
        border: none;
        background: #1b5c88e0;
        width: 28px;
        height: 28px;
        font-size: 28px;
        line-height: 18px;
        margin: 0px;
        transition: .3s;
    }
    button:hover{
        transition: .3s;
        transform: scale(1.2);
    }
}
#band{
    position: relative;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    #bandImg{
        width: 75%;
        height: 45px;
    }        
    #topic{
        position: absolute;
        width: 100%;
        justify-content: center;
        top: 0px;
        height: 45px;
        color: white;
        vertical-align: middle;
        line-height: 45px;
    }
}
#chatSection{
    position: relative;
    top: 0px;
    margin: 0 36px 36px 36px;
    background: white;
    padding: 5px;
}
#chatbox{
    margin: 0 10px 10px 10px;
    min-height: 420px;
    max-height: 420px;
    overflow-y: auto;
    color: #1b5c88e0;
    #data{
        list-style-type: none;
        padding: 5px;
        #datalist{
            margin: 5px;
            #chatmsg{
                position: relative;
                user-select: none;
                margin: 15px 36px 15px 20px;
                border-radius: 10px;
                background:#c1c1c161;
                padding: 5px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: .3s;
            }
            #chatmsg:hover{
                box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
                transition: .3s;
            }
            #u_icon{
                float: left;
            }
            #u_msg{
                margin-left: 45px;
                p{
                    font-size: 14px;
                }
            }
        }
    }
}
#inputText{
    margin: 25px 5px;
    padding: 15px;
    width: 100%;
    input{
        width: 75%;
        outline: none;
        border: none;
        border-bottom: 2px solid #1b5c88e0;
        font-weight: 500;
        color: #1b5c88e0;
    }
    button{
        float: right;
        outline: none;
        border: none;
        background:#1b5c88e0;
        color: white;
        border-radius: 5px;
        user-select: none;
        padding: 5px 10px;
    }
}
#chatmsg::before{
    transition: .3s;
    position: absolute;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 18px solid #e7e7e7;
}
#chatmsg::before:hover{
    transition: .3s;
    box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}
.psuedoleft::before{
    right: -24px;
}
.psuedoright::before{
    left: -24px;
}
