section{
    position: relative;
    width: 100%;
    height: 100%;
    #bg{
        background: url(../../assets/fasenra/login.jpg);
        // background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow-y: auto;
    }
}
.form-control{
    font-size: 1.5rem !important;
    border-radius: 0.75rem;
    margin-bottom: 3rem;
    height: calc(2em + 0.75rem + 2px);
}
.logo {
    text-align: center;
    padding-top: 15%;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
  .logo p {
    padding-top: 2%;
    color: #008591;
  }
#loginSection{
    label{
        color: #fff;
        font-size: 18px;
    }
    .form-control{
        color: #fff;
        background: #1f2223 !important;
    border: 2px solid #138ed4;
    }
    #submit-btn{
        text-align: center;
        button{
            font-family: 'Oswald', sans-serif !important;
            // background: linear-gradient(90deg, #008591 0%, #003874 50%, #008591 100%);
            background-color: #01334d;
            color: white;
            padding: 5px 20px 5px 20px;
        }
    }
}


@media only screen and (max-width: 800px) {
    .mob-web{
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
  }

  .mob-web{
    padding-right: 5rem;
    padding-left: 5rem;
}