<!-- Modal -->
<!-- <div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="border:none">
        <div class="modal-body p-0">
          <section>
            <div id="content">
                <div id="background">
                  <img id="bgImg" src="assets/ipf/images/agenda/day-{{agendaDay}}.png" width="100%" alt="">
                  <div id="download">
                    
                    <a href="assets/ipf/images/agenda/agenda.pdf" download="agenda.pdf">
                      <img src="{{agenda}}" width="36" alt="">
                    </a>
                  </div>
                </div>
                <div id="buttons">
                  <div id="left">
                      <i class="fa fa-angle-left" id="previous" (click)="showprevious()"></i>
                  </div>
                  <div id="right">
                      <i class="fa fa-angle-right" id="next" (click)="shownext()"></i>
                  </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div> -->

<div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document" style="position: absolute;
  bottom: 10px;
  right: 10px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-white" id="agendaModalLabel"><img _ngcontent-riu-c9="" alt=""
            src="../../../../../assets/ipf/icons/chat.png" width="36"> Q&A</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <div id="chatbox" #scroller [scrollTop]="scroller.scrollHeight">
                <div style="text-align: center; color: #005f85;">
                  <p>Please Post Your Question</p>
                  <p>{{alertMsg}}</p>
                </div>

              </div>

              <div id="inputText">
                <input type="text" [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)">
                <button (click)="postQuestion(textMessage.value)">SEND</button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>