#chatopen, #hallChat{
    position: fixed;
    right: 3%;
    padding: 10px 20px;
    background: #8d433f;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    user-select: none;
}
#chatopen::before #hallChat::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 16px solid #8d433f;
    border-right: 24px solid transparent;
    border-top: 18px solid #8d433f;
    left: 10px;
    bottom: -16px;
    border-radius: 5px;
    border-bottom: 11px solid transparent;
    // border-left: 24px solid #8d433f;
    // border-right: 12px solid transparent;
    // border-top: 12px solid #8d433f;
    // border-bottom: 20px solid transparent;
    // left: 10px;
    // bottom: -24px;
    // border-radius: 10px;
}
#player-wrapper{
    // width: 80%;
    // height: 80vh;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    // top: 7vw;
    // left: 22.1vw;
    top: 0vw;
    left: 0vw;
}
#section{
    overflow: hidden !important;
}
#chatopen{
    bottom: 5%;
}
#hallChat{
    bottom: 15%;
}
// #playerPoint{
//     position: relative;
//     top: 21%;
//     left: 19.3%;
//     width: 57.5%;
// }

// @media (max-aspect-ratio: 16/9) {
//     #playerPoint{
//         top: 19.5%;
//     }
// }

// #background{
//     background-image: url('../../../assets/fasenra/stage_screen.jpg');
//     background-size: cover;
//         background-repeat: no-repeat;
//         height: 100vh !important;
//         overflow-y: auto;background-position: center;
// }

#listItems{
    position: fixed;
    top: 30%;
    right: 0;
    width: 120px;
    height: auto;
    ul{
        list-style-type: none;
        padding: 0;
        li{
            background:#01334c;
            margin: 10px;
            border-radius: 24px;
            color: white;
            cursor: pointer;
            text-align: center;
            a{
                padding: 5px;
                text-decoration: none;
                color: #fff;
                line-height: 46px;
                height: 46px;
            }
        }
    }
}