// section{
//     position: relative;
//     width: 100%;
//     height: 100%;
//     .content-wrap{
//         position: relative;
//         width: 100%;
//         height: 100%;
//         #bg{
//             img{
//                 width: 100%;
//                 height: 100vh;
//             }
//         }
//     }
// }

section{
    position: relative;
    width: 100%;
    height: 100%;
    #bg{
        background: url(../../assets/ipf/images/Thanks.jpg);
        // background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow-y: auto;
    }
}
@media only screen and (max-width: 900px) {
  .logo img {
    width: 65% !important;
    height: auto;
  }
  h1{
    font-size: 2rem !important;
  }
  h2{
    font-size: 2rem !important;
  }
  p{
    font-size: 2rem !important;
  }
}
@font-face {
    font-family: SuzukiPRORegular;
    src: url(../../assets/font/SuzukiPRORegular.otf);
  }
  @font-face {
    font-family: SuzukiPROHeadline;
    src: url(../../assets/font/SuzukiPROHeadline.otf);
  }
  @font-face {
    font-family: SuzukiPROBold;
    src: url(../../assets/font/SuzukiPROBold.otf);
  }
.logo {
    text-align: center;
    padding-top: 15%;
  }
  .logo img {
    width: 100%;
    height: auto;
  }
  .logo p {
    padding-top: 2%;
    color: #008591;
  }

  h1,h2,h3,h4,h5,h6,p{
      color: white !important;
  }
  h1{
      font-size: 4rem;
      font-weight: bolder;
    font-family: SuzukiPROBold !important;
  }
  h2{
    font-size: 3rem;
    // letter-spacing: 2px;
    font-family: SuzukiPRORegular !important;
  }
  p{
    font-family: SuzukiPROHeadline;
    font-size: 3rem;
      font-weight: bolder;
  }