<section>
    <div class="container-fluid" id="bg">
        <div class="row">
            <div class="col-md-7 col-sm-7">

            </div>
            <div class="col-md-5 col-sm-5" style="height: 100vh;">
                <div class="logo">
                    <img src="assets/fasenra/2.png" alt="">
                    <h1 class="mt-3">18<sup>th</sup> NOVEMBER</h1>
                    <h2 class="mt-4">The event is going to begin in</h2>
                    <p id="demo" class="mt-3"></p>
                    <h2 class="mt-4">Stay Tuned!</h2>
                </div>
            </div>
        </div>
        <!-- <div id="bg">
            <img src="../../assets/ipf/images/Thanks.jpg" alt="">

        </div> -->
    </div>
</section>