#topic_1,#topic_2,#topic_3,#topic_4,#topic_5,#topic_6{
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
}
#topic_1{
    width: 6.5%;
    left: 17.5%;
    height: 10%;
    top: 52.5%;
}
#topic_2{
    width: 6%;
    left: 32.5%;
    height: 8.5%;
    top: 47%;
}
#topic_3{
    width: 6.5%;
    left: 39.5%;
    height: 10%;
    top: 52%;
}
#topic_4{
    width: 5.5%;
    left: 48.5%;
    height: 8.5%;
    top: 48.5%;
}
#topic_5{
    width: 5.5%;
    right: 38.5%;
    height: 7.5%;
    top: 47.5%;
}
#topic_6{
    width: 6.5%;
    right: 30%;
    height: 10%;
    top: 51.5%;
}