
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labelledby="agendaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="border:none">
        <div class="modal-body p-0">
          <section>
            <div id="content">
                <div id="background">
                  <img id="bgImg" src="assets/ipf/images/agenda/day-{{agendaDay}}.png" width="100%" alt="">
                  <div id="download">
                    
                    <a href="assets/ipf/images/agenda/agenda.pdf" download="agenda.pdf">
                      <img src="{{agenda}}" width="36" alt="">
                    </a>
                  </div>
                </div>
                <div id="buttons">
                  <div id="left">
                      <i class="fa fa-angle-left" id="previous" (click)="showprevious()"></i>
                  </div>
                  <div id="right">
                      <i class="fa fa-angle-right" id="next" (click)="shownext()"></i>
                  </div>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div> -->

  <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="helpModalLabel">Q&A</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <!-- <pdf-viewer [src]="agenda1" [original-size]="true" style="display:block !important;"></pdf-viewer> -->
              <!-- <img [src]="agenda1" width="100%" alt=""> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>