
  
  <!-- parent -->
  <div class="modal fade" id="speakersModal" tabindex="-1" role="dialog" aria-labelledby="speakersModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: none;">
            <div class="modal-body p-0">
                <section>
                    <div id="content">
                        <div id="background">
                            <div id="closebtn" (click)="closeParentModal()"></div>
                            <img id="bgImg" src="assets/ipf/images/speakers/speakerslist/{{speaker}}feb.png" width="100%" alt="">
                            <ng-container *ngFor="let x of points">
                                <div id="one_{{x}}" title="{{x}}" [ngStyle]="{'position':'absolute', 'cursor':'pointer', 'left':'0', 'width':'100%', 'height':'2.25%'}" (click)="openProfile(x)"></div>                               
                            </ng-container>
                            <!-- <ng-container *ngFor="let x of points">
                                <div id="one_{{x}}" title="{{x}}" (click)="openProfile(x)"></div>                               
                            </ng-container> -->
                            <div id="buttons">
                                <div id="left">
                                    <i class="fa fa-angle-left" id="previousleft" (click)="showprevious()"></i>
                                </div>
                                <div id="right">
                                    <i class="fa fa-angle-right" id="nextright" (click)="shownext()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
  </div>
<!-- child -->
<div class="modal fade" id="speakerProfileModal" tabindex="-1" role="dialog" aria-labelledby="speakerProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: none;">
            <div class="modal-body p-0">
                <section id="scetion">
                    <div id="content-wrap">
                        <div id="background">
                            <div id="closebtn" (click)="closeChildModal()"></div>
                            <img id="bgImg" src="../../../../assets/ipf/images/speakers/profiles/{{imgId}}.png" width="100%" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
  </div>
