<section>
  <div class="content-wrap">
    <div id="bg">
      <img src="assets/fasenra/breakoutroom.jpg" alt="" width="100%">
      <a id="pointer_1" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_OWEyYjIwNTAtMzgxYi00NTcwLThkMTctOWNiNDA1YjJiMGQ0%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_2" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZDdmYTcwMmYtYTUxZS00NjlmLWE2ODktOTUwZmM0YTc4YmU5%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_3" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_NzE0ZjA5NTYtM2MxZC00YzdhLWIxZTUtMTY5OTI0YjBlMmIy%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_4" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_YzYyMzM1MWQtNTQzYy00YjE5LThiNGQtYWMyMzAwNTQzZDc5%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_5" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_NDMxNzNmNzAtOWVlOC00NmUxLWJlOGYtMDU1NmRlMDFkNjg3%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_6" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZDUyMTc3MDUtNDM2OS00ZjUzLThlYmQtOTc0YTBlNWMwNTU5%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_7" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_NmUzMjAxMTgtODRkYi00ZjA2LTg4MzgtNmQ0ZTc1NTI4YWI4%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_8" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_OGVlYmRkYWEtZDkxZi00OWUxLWJmNjktYjE3NmUxNzQ4ZDhm%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_9" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_M2IwMmJhMWQtNzA0ZS00ZGE4LTk0YjAtMDJiNjBmYTVhNzA2%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_10" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_OTQ4NGNiNDctYzYwZS00YzNiLTg4NGMtM2I3MDMxMDc1ZGIw%40thread.v2/0?context=%7b%22Tid%22%3a%222fc13e34-f03f-498b-982a-7cb446e25bc6%22%2c%22Oid%22%3a%22db139ce3-f5da-488d-a6a7-2021d5ec0a6b%22%7d" target="_blank">
        <div class="pulsating-circle"></div>
      </a>
      <!-- <a id="pointer_2" data-toggle="modal" data-target="#bikeRacing" (click)="stepup('click_bikeracing');">
                <div class="pulsating-circle"></div>
            </a> -->
    </div>
  </div>
</section>